.react-bootstrap-table{
  border-top: 10px solid #21556c;
  border-radius: 10px !important;

  table{
    border: 1px solid #21556c !important;
  }

  thead {
    background-color: #21556c !important;
    color: #fff !important;
  }

  th{
    color: #fff !important;
    padding: 16px 7px !important;
    border-width: 0 0 !important;
    }
  td{
    border-width: 0 0 !important;
  }

}