.LawyerRegister1_img{
  padding-right: 0;

  img{
    max-width: 874px;
    width: 874px;
    max-height: 389px;
    height: 389px;
    object-fit: contain;
  }
}
.register_section1{
  display: flex;
  align-items: center;

  h1{
    padding-left: 110px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    color: #23546b;
    letter-spacing: 1px;
  }

  h5{
    color: #464646;
    padding-left: 110px;
    font-weight: 100;
  }
}
.lawyer_section2{
  margin: 30px 0;

  h6{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;

    span{
      color: #1a9abb;
    }
  }
  p{
    color: #464646;
    margin-bottom: 25px;
  }

  ul{
    li{
      font-size: 15px;
      margin-bottom: 8px;
    }
  }
}
.registration_form{
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  box-shadow: rgb(9 157 195 / 16%) 0 6px 12px 0;
  border-top: 8px solid #1a9abb;
  border-radius: 10px;
  padding: 20px;

  h3{
    font-weight: bold;
    text-transform: uppercase;
  }
}