@import '../../../color';

.registration_form, .login_form{
  width: 100%;
  max-width: 900px;
  margin: 30px auto;
  box-shadow: $boxShadow;
  border-top: 8px solid $button;
  border-radius: 10px;
  padding: 20px;

  .btn_login{
    background-color: transparent;
    border: none;
    color: #1a9abb;
  }

  h3{
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
  }

  p{
    text-align: center;
    font-size: 14px;
    margin: 15px 0 0;
    color: $paragraph;

    a{
      color: $button;
    }
  }
}

.login_form{
  max-width: 500px !important;
}