@import '../../color';

.site_modal {
  .modal-content {
    border-radius: 15px;
    border-top: 10px solid $button;
  }
}

.modal-body{
  text-align: center;
  padding: 60px 0 !important;
  border-radius: 20px !important;

  p{
    padding: 0 40px;
  }
  h5{
    margin-bottom: 20px;
  }
}

.modal-dialog{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}