@import '../../../../color';

.search_location {
  width: 100%;
  margin-top: 30px;
  box-shadow: $boxShadow;
  padding: 35px 20px;
  border-top: 8px solid $darkBlue;
  border-radius: 7px;
}

@media (max-width: 767px) {
  .search_location{

    .location_img{
      text-align: center;
      margin-top: 10px;
    }
  }
}