@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

img{
  max-width: 100%;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Toastify{

  .Toastify__toast-container{

    .Toastify__toast{
      border-top: 5px solid #1a9abb !important;
      border-radius: 10px !important;

      .Toastify__toast-body{

        div{
          color: #000 !important;
        }
      }
    }
  }
}